body {
    position: relative;
}
main {
    background-color: #222;
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navbar {
    background-color: transparent;
}
.navbar-nav {
    padding-right: 50px;
}


.nav-item {
    padding: 0px 20px;
}

.top-nav-collapse {
    background-color: #000000bb;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #000000bb;
    }
}